
/*body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assests/academicBackground.jpg")
} */

.containerSplit {
    position: relative;
    left: 0;
    right: 0;
    height: 100%;
}

.firstHalf {
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) ), url("../assests/profBG.jpg") no-repeat center;
    background-size: cover;
    height: 35rem;
    top: 0;
}

.secondHalf {
    position: relative;
    background-color: white;
    background-size: cover;
    bottom: 0;
    flex: 1;
    height: 20rem;
    margin-bottom: 5px;
}

