.etitle {
    position: absolute;
    width: 128px;
    height: 42px;
    left: 1309px;
    top: 1246px;

    font-family: 'Roboto Condensed', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    }
    