.jtitle {
    position: absolute;
    width: 95px;
    height: 42px;
    left: 703px;
    top: 1246px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;
    }
    