.HomeBtn{
    position:absolute ;
    top: 0;
    bottom: 0;
    height: 23%;
    width: 50%;
    background-color:rgba(109, 124, 129, 0.3);
    border: none;
    
}
.title{
    position: absolute;
    top: 10%;
    right: 74.68%;
    bottom: 50%;
    font-family: Roboto;
    font-style: Regular;
    font-size: 2vw;
    color: black;
}

