.Second {
  position: absolute;
 bottom: 10%;
 right: 20%;
 border: 0;
 background-color: transparent;
 color: white;
 font-family: Roboto;
 font-style: normal;
 font-size: 30px;

}

.rectangle{
  display: inline-block;
  position: absolute;
  bottom: 10%;
  height: 20%;
  right: 0%;
  width:30%;
  background-color: rgba(127, 192, 230, 0.6);
}

