code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;


}


body {
  margin: 0;
  padding: 0;
  /* For styling purposes I have removed this linear Gradient for now - Adam
  background: linear-gradient(45deg, #1d4167 -61.1%, #85bbf3 9.61%);
  box-shadow: inset 81.5207px -81.5207px 115.288px rgba(23, 53, 84, 0.5),
    inset -81.5207px 81.5207px 115.288px rgba(71, 162, 254, 0.5);
   */
}

#background{
  position:absolute;
  z-index:0;
  background:white;
  display:block;
  min-height:50%;
  min-width:50%;
  color:yellow;
}

.float{
  position:fixed;
  width: 70px;
  height: 70px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:16px;
}
.AppBar {
background: #e0e0e0;
}
